.slide{
    position: absolute;
    width: 100%;
    height: 100%;
}
.relative{
    position: relative;
}

h1{
    text-align: center;
    font-family: 'DM Serif Text', serif;
    color: #02A7F0;
}
p{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
    opacity: 1 !important;
}
.back{
    background-color: #6c6c6ca9;
    border-radius: 1em;
    padding: 1em;
    padding-bottom: 2em;
}
.border1{
    border-radius: 1.5em;
    border-color: #02A7F0;
    border-width: 0.3em;
    border-style: solid;
    margin-left: 15%;
    margin-right: 15%;
}
.o{
    background-color: rgb(247, 170, 70);
}
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-left: 42.5%;
    margin-right: 40%;
    margin-top: 2em;
}