.contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;


}
.card-body{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Open Sans', sans-serif;
    font-family: 'DM Serif Text', serif;
    background-color: #F6F6F6;

}
.title{
    color: #02A7F0;
    font-size: 0.6cm;
}
.card{
    border: solid;
    border-color: #02A7F0;
}




.tete{
    justify-content: center;
    flex-direction: column;
    display: flex;
    width: 20%;

}

.bloc{
    padding:10px;
}

.bouton{
    justify-content: space-between;
    display: flex;
}

.margin-content {
    margin: 20px;
}
.formulaire{
    color: grey;
}

#img3{
    height: 450px ;
    width: 350px;
}
.contactez-nous{
    display: flex;
    justify-content: center;
}

#titre-section{
    color: yellow;
    text-align: center;
    text-decoration: underline solid 2px yellow;
}

/* FOOTER STYLE */


.liste {
    list-style-type:none;
}

.newsletter {
    display: flex;
    color: white;

}
.icone{
    height: 30px;
    width: 30px;
}
.carte {
    height: 100px;
    width: 500px;
    border: 0;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #6c6c6c;
    justify-content: space-around;
    color: white;
    padding: 10px;
    align-items: center;
}
.div4 {
    display: flex;
    flex-direction: column;
}
button{
    margin: 10px;
}
/* FOOTER STYLE END */